<section class="section">
  <div class="container is-max-desktop">
    <div class="fixed-grid has-1-cols">
      <div class="grid">
        <div class="cell">
          <h1 class="title is-1 mb-6">Dog Breeds</h1>
        </div>
        <div class="cell">
          <% if params[:search].present? %>
            <h2 class="title is-4 mb-4">
              Your search results for "<span class="has-text-warning"><%= params[:search] %></span>" found
              <span class="has-text-primary"><%= @breeds.total_count %> dog breeds</span>.
            </h2>
            <% if @breeds.empty? %>
              <p class="has-text-grey">No dog breeds matched your search.</p>
            <% end %>
          <% end %>
        </div>
        <div class="cell">
          <table class="table is-fullwidth is-hoverable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Image</th>
              </tr>
            </thead>
            <tbody>
              <% @breeds.each do |breed| %>
                <tr>
                  <td>
                    <%= link_to breed.name.titleize, breed_path(breed), class: "has-text-link" %>
                  </td>
                  <td>
                    <% if breed.image_url.present? %>
                      <figure class="image" style="height:200px; width:auto;">
                        <img src="<%= breed.image_url %>" alt="<%= breed.name %>" style="height:200px; width:auto; object-fit:contain;">
                      </figure>
                    <% else %>
                      <span class="has-text-grey-light">No image</span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="cell">
          <nav class="pagination is-centered is-small mt-6" role="navigation" aria-label="pagination">
            <div class="pagination-list">
              <%= paginate @breeds %>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
